.loader{
    width: 50px;
    height: 50px;
    border:3px solid rgb(205, 199, 199);
    border-radius: 50%;
    border-top:3px solid rgb(4, 4, 4);
    /* border-bottom: 15px solid white; */
    margin:  250px auto;
    animation: loader 1s linear infinite;
}
@keyframes loader{
    100%{
        transform: rotate(360deg);

    }
}